.grid-rows-7 {
  grid-template-rows: repeat(7, minmax(0, 1fr));
}

.Jan ~ .Jan,
.Feb ~ .Feb,
.Mar ~ .Mar,
.Apr ~ .Apr,
.May ~ .May,
.Jun ~ .Jun,
.Jul ~ .Jul,
.Aug ~ .Aug,
.Sept ~ .Sept,
.Oct ~ .Oct,
.Nov ~ .Nov,
.Dec ~ .Dec {
  visibility: hidden;
}

.text-xxs {
  font-size: 0.55rem;
  line-height: 1rem;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
